<div id="header">
    <a href="tests/index.html">Tests</a>&nbsp &nbsp &nbsp &nbsp
    <a href="https://github.com/LambdaCode/LocalStorage-JQuery-Underscore-Express-Sass-Heroku/tree/gh-pages">Repositorio de trbajo</a>
    <br>
    <br>
    <br>
    <br>
    <a href="http://adrianbzg.github.io/">Adrián Rodríguez Bazaga</a> - <a href="http://alu0100824780.github.io/">Rudolf Cicko</a>
</div>
<br>
<br>
<div id="csv-table">
    <h1>Comma Separated Value Analyzer</h1>
    <div id="header">
        Write a CSV string. Click the table button. The program outputs a table with the specified data.</i>
        <br>
    </div>
    <table>
        <tr>
            <th>CSV string:</th>
            <td>
                <textarea autofocus cols="80" rows="5" id="original"></textarea>
            </td>
        </tr>
    </table>
    <button class="csv-button" type="button">Table:</button>
    <br>
    <span class="output" id="finaltable"></span>
</div>
