<!doctype html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Language Processors: CSV Analyzer</title>
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://xregexp.com/v/3.1.0/xregexp-all.js"></script>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <script type="text/javascript" src="js/csv.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/html" id='fillTable'>
        <table id="result" class="center">
            <% _.each(items, function(name) { %>
                <tr class="<%= name.rowClass %>">
                    <% _.each(name.value, function(cell) { %>
                        <td>
                            <%=c ell %>
                        </td>
                        <% }); %>
                </tr>
                <% }); %>
        </table>
    </script>
</head>

<body>
    <$- include index $>
</body>

</html>
